*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# chatlogs
res/chatlogs/big_dump_logs
bin/
.settings

res/chatlogs/ubuntu_small.txt
*.m
